#main-body {
    background-color: #EEE;
    margin: 0px;
     padding: 0px;
     height: 100vh;
}

a {
    text-decoration: none;
}

.logo {
    width: 30px;
    padding-right: 16px;
    padding-left: 8px;
}
.app-content {
    padding: 20px;
}
.app-content md-card {
    margin: 20px;
}
#main-toolbar {
    background-color: #2196F3;
     color:#FFFFFF;
}

.app-toolbar-filler {
 flex: 1 1 auto;
}


#toolbar-icon-button {
 box-shadow: none;
 background: none;
 border: none;
 cursor: pointer;
 filter: none;
 font-weight: normal;
 height: auto;
 line-height: inherit;
 margin-right: 16px;
 text-decoration: none;
}

.icon-button:hover .material-icons {
 color: #212121 ;
 cursor: pointer;
}

button.icon-button {
 margin-right: 0px;
 padding-right: 0px;
 background-color: inherit;
 border: none;
 outline: none;
}

#logo {
 width: 30px;
 padding-right: 16px;
 padding-left: 8px;
}

#toolbar-text-main {
    margin-top: -4px; 
    font-size: 24px;
    color: white;
}
#toolbar-text-report {
    margin-top: -4px; 
    font-size: 24px;
    color: #212121;
    flex-grow: 5;
}

/* all dropdowns will use this */
.dropdown-content {
   position: absolute;
   background-color: #fff;
   min-width: 200px;
   box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   overflow: scroll;
   max-height: 300px;
}

md-list {
padding-top: 3px;
padding-bottom: 3px;
}

.dropdown-content md-list-item {
width: 100%;
}

.dropdown-content md-list-item :hover {
    background-color: #eee;
}


.material-icons {
    color: #fff;
}


#report-card {
    padding: 0px;
    width: 100%;
}

/* any pop up dialog should use this/these styles */
.dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
   z-index: 1;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.5);
   overflow-y: hidden;
   transition: 0.8s;
   display: flex;
   align-items: center;
   justify-content: center;
}
.dialog-card {
    
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.top-bar {
    background-color: #FFF;
    min-height: 45px;
    height: 45px;
    justify-content: center;
}
#action-button {
    float: right;
    padding: 2px;
    align-items: flex-end;
    margin-right: 5px;
}

/* Splash screen */
.loading {
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #2196F3;
    z-index: -1;
    display: flex;
}
app-root:empty + .loading {
    opacity: 1;
    z-index: 100;
}
app-root:empty + .loading img {
    margin: auto;
    transform: translate(0, -50%);
}

/* button stuff */
.primary-action-button {
    background-color: #2196F3;
    color: #FFF;
}