<body>
  <div class="card-container">
  <md-card [routerLink] = "['/booklist']">
      <md-card-content>
        <md-card-title>Booklist</md-card-title>
      </md-card-content>
      <md-card-actions align="end">
        <button class="footer-btn" >
          <img md-card-img class="footer-img" src="./app/images/dashboard.png">
        </button>
      </md-card-actions>
  </md-card>
  <md-card>
      <md-card-content>
        <md-card-title>Rental</md-card-title>
      </md-card-content>
      <md-card-actions align="end">
        <button class="footer-btn">
          <img md-card-img class="footer-img" src="./app/images/dashboard.png">
        </button>
      </md-card-actions>
  </md-card>

  <md-card>
      <md-card-content>
        <md-card-title>Online Sales Summary</md-card-title>
      </md-card-content>
      <md-card-actions align="end">
        <button class="footer-btn">
          <img md-card-img class="footer-img" src="./app/images/dashboard.png">
        </button>
      </md-card-actions>
  </md-card>

  <md-card>
      <md-card-content>
        <md-card-title>Physical Inventory</md-card-title>
      </md-card-content>
      <md-card-actions align="end">
        <button class="footer-btn">
          <img md-card-img class="footer-img" src="./app/images/dashboard.png">
        </button>
      </md-card-actions>
  </md-card>

  <md-card>
      <md-card-content>
        <md-card-title>Sales by FRC</md-card-title>
      </md-card-content>
      <md-card-actions align="end">
        <button class="footer-btn">
          <img md-card-img class="footer-img" src="./app/images/dashboard.png">
        </button>
      </md-card-actions>
  </md-card>


  </div>
</body>